@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h6,
a {
  font-family: "Bellefair", serif;
  font-weight: 400;
}

h5,
li {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
}

p {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
}

body {
  min-height: 100vh;
  background: url("assets//home/background-home-mobile.jpg") no-repeat center /
    cover;
}

@media (min-width: 768px) {
  body {
    background: url("assets//home/background-home-tablet.jpg") no-repeat center /
      cover;
    .active {
      border-bottom: 3px solid #fff;
    }
  }
}

@media (min-width: 1024px) {
  body {
    background: url("assets//home/background-home-desktop.jpg") no-repeat center /
      cover;
  }
}
